gradio
transformers
datasets
huggingface_hub
numpy
torch
torchvision
sentencepiece
sentence-transformers
scikit-learn
pandas
requests
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
